<%- include("partials/header.ejs") %>
    <div class="solo-container">
      <% apiData.forEach(function(item) { %>
        <div class="picture">
          <h2><%= item.strDrink %></h2>
          <img src="<%= item.strDrinkThumb %>" />
        </div>
        <div class="description">
        </div>
        <div class="ingredients">
          <p>Instructions</p>
          <p><%= item.strInstructions %></p><br />
          <p>Ingredients:</p>
        <ul>
          <% Object.keys(item).forEach(function(key) { %>
            <% if (key.startsWith("strIngredient") && item[key]) { %>
              <li><%= item[key] %></li>
            <% } %>
          <% }) %>
          </div>
        </ul>
      <% }) %>
    </div>
  <script src="index.js"></script>
</body>
</html>
